@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.leaderboard {
  grid-row: 2;
  padding: spacing(xl) spacing(md);
  max-height: 100%;
  background: color(background);
  overflow: hidden;
}

.errorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.title {
  h1 {
    margin-top: 0;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: color(base-silver);
    text-shadow: 0 2px 4px rgba(209, 157, 13, 0.637);
  }
}

.featureContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
}

.rankings {
  color: color(text-dark);
  background: color(soft-background);
  border-radius: 5px;
  box-shadow: 0px 0.4rem 0.5rem 0.5rem rgba(color(base-gold), 0.637);
  padding: spacing(sm);
  flex-basis: 35%;
  min-width: 500px;
  height: 565px;
  overflow: scroll;

  h2 {
    text-align: center;
    color: color(base-silver);
    text-shadow: 0 2px 4px rgba(209, 157, 13, 0.637);
  }

  .tableWrapper {
    border: 1px solid color(base-gold);
    border-radius: 5px;
    overflow: hidden;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    background: rgba(color(overlay-medium), 0.45);
  }

  th,
  td {
    padding: spacing(sm);
  }

  td:first-child {
    text-align: center;
    font-weight: 400;
  }

  td:nth-child(3) {
    text-align: right;
  }

  th {
    background-color: color(table-color-1);
  }

  tbody tr:nth-child(even) {
    background-color: color(table-color-2);
  }

  tbody tr:nth-child(odd) {
    background-color: color(table-color-3);
  }
}

@include tablet {
  .leaderboard {
    height: auto;
    margin-top: 7.5dvh;
    overflow: visible;
  }

  .featureContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .podium {
      order: -1;
    }

    .rankings {
      margin-top: 8%;
      width: 500px;
    }
  }
}

@include mobile {
  .leaderboard {
    height: auto;
    margin-top: 7.5dvh;
    overflow: visible;
    padding: 8%;
  }

  .featureContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    .podium {
      order: -1;
    }

    .rankings {
      min-width: auto;
      margin-top: 8%;

      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
