# Full-stack MERN application containerized with:
# Backend: Node.js API connecting to MongoDB Atlas
# Frontend: React SPA served via Nginx
# Communication: Internal Docker network (backend:3000)
name: Century Screening Room & Reel Canon Compose Stack

# All services (containers) included in the multi-container composition
services:
  # The backend service including env variables required:
  # HOST - set to 0.0.0.0 to allow connections between docker containers
  # DATABASE_URI - uses cloud database for smaller file size and consistent data
  # JWT_SECRET_KEY - uses JWT secret key variable for Auth
  # TOKEN_HEADER_KEY - ensures correct "Authorization" header for all tokens
  # NODE_ENV - hard coded for production
  # app-network - ensures connections within the app are allowed
  # restart - only force closure when the application is closed manually
  backend:
    build: ./backend # Builds using Dockerfile in ./backend directory
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      - HOST=0.0.0.0
      - DATABASE_URI=${DATABASE_URI}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - TOKEN_HEADER_KEY=Authorization
      - NODE_ENV=production
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build: ./frontend # Builds using Dockerfile in the ./frontend directory
    container_name: frontend
    ports:
      - "80:80" # Exposes container port 80 on host port 80
    depends_on:
      - backend # Ensures backend starts first, but does not wait for it to be ready
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    # Enables service discovery by service name (e.g. backend:3000) - without this each service would require an explicit IP address
    driver: bridge
