@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: spacing(md);
  background: color(theme-white);
  border-radius: radius(lg);
  box-shadow: shadow(md);
  margin: auto;
  width: 90%;
  max-width: 500px;
  color: color(error);
  max-height: fit-content;
}

.errorMessage {
  text-align: center;
  font-size: 0.875rem;
  margin-top: spacing(xs);
  display: block;
}

.retryButton {
  margin-top: spacing(md);
}

@include mobile {
  .errorContainer {
    width: 95%;
    padding: spacing(sm);
  }
}
