@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navbar {
  background-color: color(soft-background);
  display: flex;
  align-items: flex-end;
  width: auto;
  justify-content: space-between;
  padding: 5px;
  padding-bottom: 0;
}

.logoImg {
  border-radius: 50%;
  height: 105px;
}

.pageLinks {
  padding-bottom: 7px;

  :hover {
    border-width:1.5px;
    border-style: inset;
  }
}

.modalButtons {
  padding: 4px;
}

.userStateButtons {
  padding: 4px;
  margin: 0 4px;
  border-radius: 4px;
  background: color(overlay-medium);
  transition: all 0.2s ease;

  &:hover {
    background: rgba(color(secondary-shadow), 0.3);
    scale: 1.1;
  }
}

.link {
  font-size: 1.2rem;
  background: none;
  border: none;
  color: color(base-gold);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.4s ease;
  transition: background 0.6s;
  border-radius: 5px;

  &:hover:not(:disabled) {
    color: color(accent-gold);
    background: rgba(255, 255, 255, 0.1);
  }
}

.friendRequestButton {
  background: none;
  border: none;
  color: color(text-light);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.4s ease;
  border-radius: 4px;

  &:hover:not(:disabled) {
    scale: 1.1;
    background: rgba(255, 255, 255, 0.1);
  }
}

.activeLink {
  font-size: 1.2rem;
  color: color(base-silver);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background: rgba(color(secondary-shadow), 0.2);
  border-radius: 5px;
}

.badge {
  position: relative;
  background: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.4rem;
}

// Make navbar disappear on tablet and below
@media (max-width: breakpoint(tablet)) {
  .navbar {
    position: fixed;
    background-color: color(soft-background);
    display: flex;
    align-items: flex-end;
    width: 100dvw;
    height: 7dvh;
    padding: 5px;
    padding-bottom: 0;
    z-index: 2;
  }

  .logoImg,
  .pageLinks,
  .userStateButtons {
    display: none;
  }

  .friendRequestButton {
    background: none;
    border: none;
    color: color(text-light);
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    transition: color 0.4s ease;
    transition: background 0.6s;
    border-radius: 4px;

    &:hover:not(:disabled) {
      // color: color(primary-dark);
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .badge {
    position: relative;
    background: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.4rem;
  }
}
