@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.aboutPage {
  grid-row: 2;
  max-height: 100%;
  padding: spacing(xl) spacing(md);
  background: color(background);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;

  h1 {
    flex-basis: 100%;
    text-align: center;
    font-size: 2.8rem;
    margin: 0 0 spacing(sm);
    font-weight: 700;
    color: color(base-silver);
    text-shadow: 0 2px 4px rgba(209, 157, 13, 0.637);
  }

  h2 {
    color: color(accent-silver);
    text-shadow: 0 2px 4px rgba(209, 157, 13, 0.637);
  }

  p {
    color: color(text-light);
  }
}

.aboutTheSite,
.aboutUs,
.contactUs {
  border-radius: 20px;
  max-height: 85%;
}

.aboutTheSite {
  background: color(soft-background);
  text-align: center;
  flex-basis: 30%;
  box-shadow: 0px 0.4rem 0.5rem 0.5rem rgba(color(base-gold), 0.637);
  padding: spacing(md);
  overflow: scroll;

  p {
    font-size: 1.1rem;
  }
}

.aboutUs {
  background: color(overlay-medium);
  flex-basis: 30%;
  overflow: auto;
  text-align: center;
  padding: spacing(md);
  box-shadow: 0px 0.4rem 0.5rem 0.5rem rgba(color(base-silver), 0.637);

  img {
    max-height: 400px;
    border-radius: 50%;
  }

  .aboutCard {
    border-radius: radius(md);
    box-shadow: inset 0 0.01rem 0.1rem 0.1rem rgba(color(secondary-shadow), 0.2);
    background: rgba(color(overlay-light), 0.1);
    padding-bottom: 2%;
  }

  .gitHubLogo {
    max-height: 1.1rem;
    width: auto;
    object-fit: contain;
  }

  a {
    border-radius: 5px;
    color: color(base-gold);
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    transition: background 0.2s;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.contactUs {
  padding: spacing(md);
  background: color(overlay-dark);
  text-align: center;
  flex-basis: 30%;
  box-shadow: 0px 0.4rem 0.5rem 0.5rem rgba(color(base-gold), 0.637);

  .contactButton {
    font-size: 1.1rem;
    color: color(accent-gold);
    background: color(primary-dark);
    border-radius: 5px;
    border-color: color(base-gold);
    box-shadow: 1px 1px 1px 1px color(secondary-shadow);
    cursor: pointer;
    transition: scale 0.8s ease;

    &:hover {
      scale: 1.1;
    }
  }
}

@include tablet {
  .aboutPage {
    margin-top: 7dvh;
    overflow: visible;
    row-gap: 4dvh;
    padding-bottom: 4dvh;

    img {
      max-height: 300px;
    }

    > * {
      flex-basis: 80%;
    }
  }
}

@include mobile {
  .aboutPage {
    margin-top: 7dvh;
    overflow: visible;
    row-gap: 4dvh;
    padding-bottom: 4dvh;

    img {
      max-height: 200px;
    }

    > * {
      flex-basis: 80%;
    }
  }
}
